.table th, .table td{
    border: 1px;
    border-color: #6395ff; 
    border-style:  solid;
    padding: 5px,10px,5px,10px;
    margin: 0;
}

.table{
    width: 500px;
    border-collapse: collapse;
}

.table thead{
    background-color: #dae1f8;
}

.table tfoot{
    background-color: #5776b1;
    text-align: right;
    color: white;
}

.time table{
    border-collapse: collapse;
}

.time table th{
    border: 1px;
    border-color: black; 
    border-style:  solid;
    background-color: blue;
}

.timetable{
    border: 3px solid black;
    border-collapse: collapse;
}

.day{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.thleftright{
    border-left: 3px;
    border-right: 3px;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
}

.tdsubject{
    border: 1px;
    border-style: solid;
}

.thcabinet{
    border: 1px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: dashed;
    border-color: black;
}

.thwithoutleft{
    border: 1px;
    border-style: solid;
    border-color: black;  
    border-left: 0px;
}

.th{
   border: 3px;
   border-style: solid;
   border-color: black;
}

.grback{
    background-color: #76b9f0;
}

.blback{
    background-color: rgb(208, 240, 216);
}

.bottom{
    border: 3px;
    border-style: solid;
    border-top: 3px;
    border-right: 1px;
    border-color: black;
}

