.editbtn{
border: 1px solid rgb(75, 212, 75);
border-radius: 10px;
margin: 10px;
padding:10px;
padding-left: 20px;
padding-right: 20px;
color: rgb(75, 212, 75);
}

.deletebtn{
    border: 1px solid rgb(216, 100, 65);
    border-radius: 10px;
    margin: 10px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(216, 100, 65);
}

.editbtn:hover,.deletebtn:hover{
color: rgb(16, 77, 131);
border-color: rgb(16, 77, 131);
}

